################################################################################
# TOMCAT MANAGEMENT
################################################################################

# Enable the Tomcat management interfaces
# They are located at these URLs: "/manager/html" and "/host-manager/html"
use_tomcat_admin=false

# Configure the username and password for the Tomcat management interface
tomcat_admin_user=tomcat
tomcat_admin_pass=tomcat

################################################################################
# PROXY OPTIONS
################################################################################

# Enable proxy
use_proxy=false

# Configure proxy
proxy_host=example.com
proxy_port=80

################################################################################
# OPENID OPTIONS
################################################################################

# Set the "issuer" for this OpenID server; must be the full root URL of the server
openid_issuer=http://localhost:8888/
