################################################################################
# TOMCAT MANAGEMENT
################################################################################

# Enable the Tomcat management interfaces
# They are located at these URLs: "/manager/html" and "/host-manager/html"
use_tomcat_admin=false

# Configure the username and password for the Tomcat management interface
tomcat_admin_user=tomcat
tomcat_admin_pass=tomcat

################################################################################
# TLS ENCRYPTION
################################################################################

# Enable TLS encryption
# If this is turned on, URLs must be accessed with "https" instead of "http"
use_tls=false

# Configure the TLS encryption keystore
# Note: the keystore file must be located in the "docker/tls/" folder, which
# is copied into the container at build time
tls_keystore_file=keystore.p12
tls_keystore_pass=password
tls_keystore_type=PKCS12
tls_key_alias=myalias

# Configure the TLS encryption protocol(s) and cipher(s)
tls_protocols=TLSv1.1, TLSv1.2
tls_ciphers=TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA, TLS_RSA_WITH_AES_128_CBC_SHA256, TLS_RSA_WITH_AES_128_CBC_SHA

################################################################################
# PROXY OPTIONS
################################################################################

# Enable proxy
use_proxy=false

# Configure proxy
proxy_host=example.com
proxy_port=80

################################################################################
# OPENID OPTIONS
################################################################################

# Set the "issuer" for this OpenID server; must be the full root URL of the server
openid_issuer=http://localhost:8888/openid/

